<div class="container d-flex align-items-center justify-content-center" style="height:80vh;">

  <div class="card p-4 shadow" style="width: 450px;">
    <h4 class="mb-3">Login</h4>

    <form (ngSubmit)="login()">
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="password" name="password" required>
      </div>

      <button class="btn btn-primary w-100">
        Logar
      </button>
    </form>

  </div>

</div>

<!-- Toast Messagens -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <!-- SUCCESS -->
  <div id="successToast" class="toast align-items-center text-bg-success border-0">
    <div class="d-flex">
      <div class="toast-body">
        {{ successMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
  <!-- ERROR -->
  <div id="errorToast" class="toast align-items-center text-bg-danger border-0 mt-2">
    <div class="d-flex">
      <div class="toast-body">
        {{ errorMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>