<!-- Main Product Painel -->
<h2 class="mb-4">Produto</h2>

<div class="d-flex justify-content-between mb-3">
  <div class="d-flex gap-2">
    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchName">
    <button class="btn btn-secondary" (click)="search()"> Buscar </button>
  </div>

  <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#productModal">
    Novo Produto
  </button>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tempo</th>
      <th>Preço</th>
      <th width="150"></th>
    </tr>
  </thead>

  <tbody>
    @for (obj of products; track obj.id) {
    <tr>
      <td>{{ obj.name }}</td>
      <td>{{ obj.durationInSeconds | duration}}s</td>
      <td>{{ obj.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
      <td>
        <button class="btn btn-sm btn-warning me-2" (click)="change(obj.id!)"> Editar </button>
        <button class="btn btn-sm btn-danger" (click)="openDeleteModal(obj.id!)"> Excluir </button>
      </td>
    </tr>
    }
  </tbody>
</table>

<!-- Pagination -->
<div class="d-flex justify-content-center align-items-center gap-3 mt-5">
  <button class="btn btn-primary" (click)="previousPage()" [disabled]="currentPage === 0">
    Anterior
  </button>
  <span class="fw-bold">
    Página {{ currentPage + 1 }} / {{ page?.totalPages }}
  </span>
  <button class="btn btn-primary" (click)="nextPage()" [disabled]="page?.last===true">
    Próximo
  </button>
</div>

<!-- Modal - Product -->
<div class="modal fade" id="productModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"> {{ editingId ? 'Edit Product' : 'Create Product' }} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="save(form)">
          <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" name="name" required [(ngModel)]="product.name">
          </div>
          <div class="mb-3">
            <label>Tempo (min)</label>
            <input type="text" class="form-control" name="durationInSeconds" required
              [(ngModel)]="product.durationInSeconds">
          </div>
          <div class="mb-3">
            <label>Preço (R$)</label>
            <input type="text" class="form-control" name="price" required [(ngModel)]="product.price">
          </div>

          <button class="btn btn-success w-100" [disabled]="form.invalid">
            Salvar
          </button>
        </form>
      </div>
    </div>
  </div>

</div>

<!-- Modal - Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excluir Produto</h5>
        <button class="btn-close" data-bs-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
        <p>Você tem certeza que quer excluir esse produto?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar </button>
        <button class="btn btn-danger" (click)="delete()"> Excluir </button>
      </div>
    </div>
  </div>
</div>

<!-- Toast Messagens -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <!-- SUCCESS -->
  <div id="successToast" class="toast align-items-center text-bg-success border-0">
    <div class="d-flex">
      <div class="toast-body">
        {{ successMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
  <!-- ERROR -->
  <div id="errorToast" class="toast align-items-center text-bg-danger border-0 mt-2">
    <div class="d-flex">
      <div class="toast-body">
        {{ errorMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>