<div class="container mt-5" style="max-width: 400px;">
  <div class="card shadow">
    <div class="card-body">
      <h4 class="mb-3">Login</h4>

      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password"
            required>
        </div>

        <button class="btn btn-primary w-100">
          Login
        </button>
      </form>
    </div>
  </div>
</div>