<h2 class="mb-4">Dashboard</h2>

<div class="row g-4">

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Appointment</h5>
        <p class="card-text"> Manage registered Appointments. </p>
        <button class="btn btn-primary" routerLink="/appointments"> Open </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Customers</h5>
        <p class="card-text"> Manage registered customers. </p>
        <button class="btn btn-primary" routerLink="/customers"> Open </button>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Professionals</h5>
        <p class="card-text"> Manage professionals. </p>
        <button class="btn btn-primary" routerLink="/professionals"> Open </button>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text"> Manage products and services. </p>
        <button class="btn btn-primary" routerLink="/products"> Open </button>
      </div>
    </div>
  </div>

</div>